# ==============================
# ENTORNO VIRTUAL
# ==============================
.venv/
venv/

# ==============================
# CACHE PYTHON
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# JUPYTER
# ==============================
.ipynb_checkpoints/

# ==============================
# DATASETS GRANDES (NO SUBIR)
# ==============================
WDICSV.csv
data/raw/WDICSV.csv

# ==============================
# ARCHIVOS DE BASE DE DATOS
# ==============================
*.sqlite
*.db

# ==============================
# SISTEMA OPERATIVO
# ==============================
.DS_Store
Thumbs.db